<html>
<head>

  <%= stylesheet_link_tag "email.css", media: "all" %>
</head>


<body>
<h1>Reminder</h1>
<p>You have a pending booking on our Website.</p>
<p>Please click here to resume your booking.</p>
</body>
</html>